POLYMARKET_RPC_URL=https://polygon-rpc.com
POLYMARKET_PRIVATE_KEY=0xYOUR_PRIVATE_KEY
POLYMARKET_WALLET_ADDRESS=0xYOUR_WALLET
POLYMARKET_CONDITIONAL_TOKENS_ADDRESS=x
POLYMARKET_CHAIN_ID=137
POLYMARKET_GAS_MULTIPLIER=1.15
POLYMARKET_MAX_POSITIONS_PER_TX=8
